.profil {
  margin-left: auto;
  margin-right: auto;
  width: max-content;
  border-radius: 50%;
  box-shadow: 15px 0px 45px #000;
  //text-align: center;
}

button {    
  width: 100 px;    
  height: 30 px;    
  position: absolute;    
  top: 10 px;    
  left: 1 px;    
}

#menu {    
  position: absolute;    
  top: 10 px;    
  left: 101 px;    
  z-index: 50;    
}

.menuOff {    
  display: none;    
}    

.menuOn {    
  display: block;    
}
